@import './../../../node_modules/dragula/dist/dragula.min.css';
mat-card {
    display: inline-block;
    width: 20%;
    margin-left: 10px;
    vertical-align: top;
}

mat-list-item:hover {
    background-color: lightcoral;
}

mat-list-item {
    transition: background-color .1s ease-in;
}